<!DOCTYPE html>
<html>
  <head>
    <title>GPTXE</title>
    <link rel="icon" href="../../../images/128.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="dashboard.css">
  </head>
  <body>
    <div>
      <h1>GPTXE       <img src="../../../images/32.png" alt="icon" align="right"></h1>
      <a href="#" id="options-link">All Settings</a>

    </div>
    <div class="settings">
      <h2>Quick Setting </h2>
      <form>
        <label for="api-key">API Key:</label>
        <input type="text" id="api-key" name="api-key">
        <button type="submit">Apply</button>
      </form>
    </div>
    <script src="dashboard.js"></script>
  </body>
</html>
