<!DOCTYPE html>
<html>
  <head>
    <title>Login/Signup</title>
    <link rel="stylesheet" type="text/css" href="login.css">
  </head>
  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Log In & Signup</h2>
    
        <!-- Login Form -->
        <form>
          <input type="email" id="login" class="fadeIn second" name="login" placeholder="Email">
          <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password">
          <input style="cursor: pointer;" type="submit" class="fadeIn fourth" value="Log In">
        </form>
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
    
      </div>
    </div>

    <script src="login.js"></script>

  </body>
</html>

