form {
    margin-top: 15px;
}
form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  form input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  form button {
    background-color: #4C75A3;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #4C75A3;
  }
  