#gptxe-bubble{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 1201 !important;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(168, 168, 168);
    padding: 16px;
    min-width: 100px;
    max-width: 400px;
    color: #3c4043;
}

#bubble-content p{
    margin: 15px 30px 15px 30px;
    text-align: initial;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
 

 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

.load {
	width: 100px;
	height: 100px;
	border:solid 10px #4C75A3;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	 -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    	
    	 transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 
}